.main-navbar {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  height: 80px;
    width: 100vw;  
  padding: 0 4rem;
  background-color: #1e3a8a;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
   position: sticky; 
  top: 0;
  z-index: 1000;
  pointer-events: auto; 
}

.nav-logo {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-logo span {
  color: #facc15;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.nav-links a,
.dash-btn {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links a:hover,
.dash-btn:hover {
  color: #facc15;
}

.logout-btn {
  background: #ef4444;
  border: none;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}

@media (max-width: 768px) {
  .main-navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem 2rem;
  }
  .nav-links {
    margin-top: 0.5rem;
  }
}
